<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ruilin.com.movieeyes">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 有米 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 位置 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- 存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".base.MovieApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 友盟通用 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57e8915267e58eccde000122"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_NAME}"/>
        <!-- 友盟推送 -->
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="ce3b2f2347787b72c0ae287a570d6359"/>
        <!-- Admob: Google Play Services. -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->


        <!-- SQLITE: SUGAR ORM -->
        <!-- <meta-data android:name="DATABASE" android:value="sugar_example.db"/> -->
        <!-- <meta-data android:name="VERSION" android:value="2"/> -->
        <!-- <meta-data android:name="QUERY_LOG" android:value="true"/> -->
        <!-- <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="ruilin.com.movieeyes.db.bean"/> -->

        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">

            <!-- <intent-filter > -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter > -->
        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <!--<activity-->
            <!--android:name=".activity.PlayerActivity"-->
            <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
            <!--android:screenOrientation="landscape"/>-->
        <!--<activity-->
            <!--android:name=".activity.WellcomeActivity"-->
            <!--android:configChanges="orientation|keyboardHidden"-->
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
        <activity
            android:name=".activity.RecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.FavoriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- 第三方 -->
        <!-- Admob: Include the AdActivity configChanges and theme. -->
        <!-- <activity -->
        <!-- android:name="com.google.android.gms.ads.AdActivity" -->
        <!-- android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" -->
        <!-- android:theme="@android:style/Theme.Translucent" /> -->
        <!-- 有米 -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false">
        </service>

        <receiver android:name="net.youmi.android.AdReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/login_title_activity_login">
        </activity>
    </application>

</manifest>